// Variaveis do Grid
$cols: 12;

//Função Grid

@function grid($col, $offset: false) {
  $width: $col / $cols * 100%;
  $result: calc(#{$width} - #{$gap-small});
  @if $offset == offset {
    $gap-small: $gap-small / 2;
    $result: calc(#{$width} + #{$gap-small});
  }
  @return $result;
}

// Gera as classes de grid

@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

//Estrutura do Grid

@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: $gap-small / 2;
  margin-right: $gap-small / 2;
  @include device(mobile) {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

[class^="grid-"] {
  @include grid-structure;
}

// Gera as classes de offset

@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: grid($i, offset);
    @extend %offset;
  }
}
@include device(mobile) {
  %offset {
    margin-left: 0px;
  }
}

//Clear Fix

@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}
